body {
  /*font-family: Calibri, Tahoma, Verdana, Arial, Serif;*/
  background-color: #eee;
	color: #6e6e6e;
	font:500 14px museo-sans, Tahoma, Arial, sans-serif;
}

#header {text-align: center;}

img.banner-logo {
  margin-left: auto;
  margin-right: auto;
}

/* _Reset */
/*dl,dt,dd,ol,ul,li,*/
html,body,h1,h2,div,span,object,iframe,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,label,legend,caption,table.no-script,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

h3,h4,h5,h6 {
  margin-top: 5px;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

article,aside,details,figcaption,figure,footer,header,hgroup,menu,section {display: block;}

nav {
  width: 95%;
  margin-left: auto;
  margin-right: auto;
}

div.data-only {display: none;}

/* _Typography */
h1, h2, h3, h4, h5 {font-weight: normal;}

h1 {
  font-size: 2.5em;
  line-height: 1;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2.2em;
  line-height: 1;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 2em;
  line-height: 1;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.3em;
  margin-top: 0.8em;
}

h5 {
  font-size: 1.15em;
  font-weight: bold;
  margin-top: 0.8em;
  margin-bottom: 0.3em;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

blockquote {margin:0 1.5em 1.5em;}
address {font-style: normal;}
blockquote, q {quotes: none;}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position:relative;
}

sup {top: -0.5em;}
sub {bottom: -0.25em;}

ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

mark {
  background-color: #ff9;
  color:#000;
  font-weight:bold;
}

del {
  color: #666;
  text-decoration: line-through;
}

abbr[title], dfn[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor:help;
}

dfn {font-weight:bold;}
strong {font-weight:bold;}

pre {
  margin: 1.5em 0;
  padding: 15px;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  word-wrap: break-word;
}

pre, code, tt, kbd, samp {
  font: 1em Monaco, "DejaVu Sans Mono", "Lucida Console", "Andale Mono", monospace;
  line-height:1.5;
}

small {font-size:85%;}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding:0;
}

a, a:active, a:visited {
  color:#6e6e6e;
  text-decoration: underline;
}

div.match-player-notice{margin-top: 5px;}
tr.loan-player, tr.loan-player a, td.loan-player, td.loan-player > a, a.loan-player, a.loan-player:active, a.loan-player:visited {color: #4cb1e0;}
tr.inactive-player, tr.inactive-player a, td.inactive-player, td.inactive-player > a, a.inactive-player, a.inactive-player:active, a.inactive-player:visited {color: #ff0000;}
div.loan-player-key {background: #4cb1e0;}
div.inactive-player-key {background: #ff0000;}
div.loan-player-key, div.inactive-player-key {
  display: inline-block;
  width: 15px;
}

a.tooltip:active, a.tooltip:visited, a.tooltip {
  color: #ffffff;
  text-decoration: underline;
}

/* Messages */
div.info-message, div.success-message, div.warning-message, div.error-message, div.info-message-small, div.success-message-small, div.warning-message-small, div.error-message-small {
  overflow: hidden;
  padding: 5px 10px 5px 50px;
  margin: 0 0 10px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

div.info-message, div.success-message, div.warning-message, div.error-message {
  min-height: 48px; 
  vertical-align: middle;
}
div.info-message-small, div.success-message-small, div.warning-message-small, div.error-message-small {min-height: 32px;}
/*div.info-message > span.message-text, div.success-message > span.message-text, div.warning-message > span.message-text, div.error-message > span.message-text, div.info-message-small > span.message-text, div.success-message-small > span.message-text, div.warning-message-small > span.message-text, div.error-message-small > span.message-text {vertical-align: middle; display: table-cell;}*/
div.info-message {background: #BDE5F8 url("../images/icons/0011-Info-icon-48.png") no-repeat left center;}
div.success-message {background: #DFF2BF url("../images/icons/0007-Tick-icon-48.png") no-repeat left center;}
div.warning-message {background: #FEEFB3 url("../images/icons/0010-Alert-icon-48.png") no-repeat left center;}
div.error-message {background: #FFBABA url("../images/icons/0006-Cross-icon-48.png") no-repeat left center;}
div.info-message-small {background: #BDE5F8 url("../images/icons/0011-Info-icon-32.png") no-repeat left center;}
div.success-message-small {background: #DFF2BF url("../images/icons/0007-Tick-icon-32.png") no-repeat left center;}
div.warning-message-small {background: #FEEFB3 url("../images/icons/0010-Alert-icon-32.png") no-repeat left center;}
div.error-message-small {background: #FFBABA url("../images/icons/0006-Cross-icon-32.png") no-repeat left center;}
div.info-message a:link, div.info-message a:visited, div.info-message a:hover, div.info-message a:active, div.info-message-small a:link, div.info-message-small a:visited, div.info-message-small a:hover, div.info-message-small a:active {color: #00529B}
div.success-message a:link, div.success-message a:visited, div.success-message a:hover, div.success-message a:active, div.success-message-small a:link, div.success-message-small a:visited, div.success-message-small a:hover, div.success-message-small a:active {color: #4F8A10}
div.warning-message a:link, div.warning-message a:visited, div.warning-message a:hover, div.warning-message a:active, div.warning-message-small a:link, div.warning-message-small a:visited, div.warning-message-small a:hover, div.warning-message-small a:active {color: #9F6000}
div.error-message a:link, div.error-message a:visited, div.error-message a:hover, div.error-message a:active, div.error-message-small a:link, div.error-message-small a:visited, div.error-message-small a:hover, div.error-message-small a:active {color: #D8000C}

div.info-message, div.info-message-small {
  color: #00529B;
  border: 1px solid #00529B;
}

div.success-message, div.success-message-small {
  color: #4F8A10;
  border: 1px solid #4F8A10;
}

div.warning-message, div.warning-message-small {
  color: #9F6000;
  border: 1px solid #9F6000;
}

div.error-message, div.error-message-small {
  color: #D8000C;
  border: 1px solid #D8000C;
}

/* Tables */
.table-wrap {
  max-width: 1008px;
  margin: 0 auto;
  padding-right: 8px;
  padding-left: 8px;
  /*border: 1px solid black;*/
}

@media (min-width:25em) {
  .table-wrap {
    padding-left: 16px;
    padding-right: 16px;
  }
}

/*@media (min-width:80em) {
  .b-pw-1280 .table-wrap {
    max-width: 1280px;
  }
}*/

.table-layout {
  margin-right: 0;
  margin-left: -8px;
  padding-right: 0;
  padding-left: 0;
  /*border: 1px solid red;*/
}

.table-layout-centre {
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

@media (min-width:37.5em) {
  .table-layout {
    margin-left: -16px;
  }
}

.filter-options {
  padding-top: 30px;
}

/* Breadcrumbs */
#breadcrumbs {
  margin: 0 0 5px;
  padding: 0;
  list-style: none;
  background: #eee;
  border-width: 1px;
  border-style: solid;
  border-color: #f5f5f5 #e5e5e5 #ccc;
  border-radius: 5px;
  box-shadow: 0 0 2px rgba(0,0,0,.2);
  overflow: hidden;
  width: 100%;
}

#breadcrumbs a, #breadcrumbs span {
  padding: .2em 1em .2em 2em;
  float: left;
  text-decoration: none;
  color: #444;
  position: relative;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  background-color: #ddd;
  background-image: linear-gradient(to right, #f5f5f5, #ddd);  
}

#breadcrumbs li:first-child a {
  padding-left: 1em;
  border-radius: 5px 0 0 5px;
}

#breadcrumbs li {float: left;}
#breadcrumbs a:hover{background: #fff;}
#breadcrumbs a::after,
#breadcrumbs a::before {
  content: "";
  position: absolute;
  top: 50%;
  margin-top: -1.5em;   
  border-top: 1.5em solid transparent;
  border-bottom: 1.5em solid transparent;
  border-left: 1em solid;
  right: -1em;
}

#breadcrumbs a::after{ 
  z-index: 2;
  border-left-color: #ddd;  
}

#breadcrumbs a::before{
  border-left-color: #ccc;  
  right: -1.1em;
  z-index: 1; 
}

#breadcrumbs a:hover::after{
  border-left-color: #fff;
}

#breadcrumbs .current,
#breadcrumbs .current:hover{
  font-weight: bold;
  background: none;
}

#breadcrumbs-one .current::after,
#breadcrumbs-one .current::before{
  content: normal;  
}

/* Back to top elements */
#back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  width: 64px;
  height: 64px;
  text-align: center;
  background-image: url('../images/icons/back-to-top.png');
  cursor: pointer;
  border: 0;
  border-radius: 2px;
  text-decoration: none;
  transition: opacity 0.2s ease-out;
  opacity: 0;
}
#back-to-top.show {opacity: 0.5;}
#back-to-top.show:hover {opacity: 1;}

div.links-list {
  text-align: center;
  font-size: 0.85em;
  margin-top: 20px;
}

div.links-list > div.list-header {font-weight: bold;}

div.filter-defined {
  width: 100%;
  max-width: 400px;
}

div.seasons-count, div.no-entry {margin-top: 1.4em;}
#stats-matches, #stats-games, #stats-legs, #stats-points {
  margin: 1.4em;
  padding: 1.4em;
}

/* Tables */
table#datatable, table#games-table, table#teams-table, table#home-players-table, table#away-players-table, table#averages-singles, table#averages-doubles-individuals, table#averages-doubles-pairs, table#averages-doubles-teams, table#fixtures-table {width: 100%;}
th {text-align: left;}

caption {
  background: #eee;
  border: 1px solid #eee;
  color:#555;
}

/* Lists of items */
ul.option-list li {
  background: #f5f5f5;
  /*border: 1px solid #ffffff;*/
}

ul.option-list li.odd {background-color: #f9f9f9;}
ul.option-list li:hover {background-color: #f6f6f6;}

ul.option-list li.heading {
  background-color: #e0e0e0;
  font-weight: bold;
}

ul.option-list li {
  border-top: 1px solid #ddd;
}

ul.option-list li {
  padding: 8px 10px;
}

ul.option-list > li:first-child {border-top: none;}

ul.option-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

div.list-item {
  padding: 4px;
  margin: 2px;
}

ul.option-list {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
}

/* Vertical tables */
table.vertical {
  border-top: 1px solid #111;
  border-bottom: 1px solid #111;
  margin: 0;
  padding: 0;
  width: 100%;
  border-collapse: collapse;
}

table.vertical tr td, table.vertical tr th {
  background: #f5f5f5;
  border: 1px solid #ffffff;
  border-top: 1px solid #ddd;
  border-bottom: none;
}

table.vertical tr th {
  font-weight: bold;
  width: 50%;
  padding: 8px 10px;
  border-right: none;
  /*width: 1%;*/
  white-space: nowrap;
}

table.vertical tr td {
  padding: 8px 10px;
  border-left: none;
}

table.vertical tr:first-child td, table.vertical tr:first-child th {border-top: none;}
table.vertical tr td.odd, table.vertical tr th.odd {background-color: #f9f9f9;}
table.vertical tr:first-child {border-top: none;}
table.vertical tr:hover td, table.vertical tr:hover th {background-color: #f6f6f6;}
table.vertical tr th:after {content: ":";}

#report-grouper {
  float: left;
  min-width: 200px;
}

/* Pagination */
.pagination {
	height: 1%;
	width: auto;
	margin-top: 25px;
}

.pagination span.page-separator {display: none;}
.pagination strong, .pagination b {font-weight: normal;}

.pagination > span.page-links > span.current-page {
	padding: 4px 8px;
	margin: 0 3px;
	font-weight: normal;
	color: #FFFFFF;
	background-color: #dcdcdc;
	border: 1px solid #dcdcdc;
	font-size: 0.9em;
}

.pagination > span.page-links > a, .pagination > span.page-links > a:link, .pagination > span.page-links > a:visited, .pagination > span.page-links > a:active {
	font-weight: normal;
	text-decoration: none;
	color: #747474;
	padding: 4px 8px;
	margin: 0 3px;
	background-color: #FFF;
	border: 1px solid #dcdcdc;
	font-size: 0.9em;
	line-height: 1.5em;
}

.pagination > span.page-links > a:hover {
	border-color: #dcdcdc;
	background-color: #dcdcdc;
	color: #FFF;
	text-decoration: none;
}

img.img-view-page {
  max-width: 80%;
}

/* Forms */
form * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

form:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

div.form-column {
  float: left;
  margin-right: 20px;
}

div.label-field-container, div.label-field-container-weekday, div.label-field-container-multi, div.label-field-container-checkradio {
  padding: 1px;
  margin-bottom: 10px;
}

div.label-field-container > label, div.label-field-container-weekday > label, div.label-field-container-directions > label, div.label-field-container-checkradio > label, div.label-field-container > div.label-placeholder, div.label-field-container > div.label-placeholder-always-show {vertical-align: middle;}
div.label-field-container-multi > div.field-container {margin-right: 10px;}

div.label-field-container-multi > div.field-container, div.label-field-container-multi > label {
  float: left;
  width: 46px;
}

div#search-results, div.search-result {margin-top: 20px;}

legend {
  color: #222;
  font-size: 1.15em;
}

.ie7 legend {margin-left: -7px;}

input[type=text], input[type=password], input[type=date], input[type=url], input[type=email], input[type=search], input[type=tel], select {
  vertical-align: top;
  width: 100%;
}

select.average-filter {width: auto;}
select.average-filter-pre-defined {width: auto;}
select.grid-match {width: 120px;}

button, input, textarea, select {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: inherit;
  font-weight: inherit;
  margin: 3px 0px 0px 0px;
  overflow: visible;
}

input.button-approve {
  background-image: url("../images/icons/0007-Tick-icon-32.png");
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: transparent;
}

input.button-deny {
  background-image: url("../images/icons/0006-Cross-icon-32.png");
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: transparent;
}

input.button-reset {
  background-image: url("../images/icons/0005-Delete-icon-32.png");
  background-size: cover;
  border: none;
  width: 32px;
  height: 32px;
  cursor: pointer;
  color: transparent;
}

input[type=radio], input[type=checkbox] {vertical-align: text-bottom;}
input[type=number] {width:50px;}
input.date_picker {width: 100px;}
.ie7 input[type=checkbox] {vertical-align: baseline;}
label, input[type=submit], input[type=button], input[type=image], button, select {cursor: pointer;}

textarea {
  overflow: auto;
  vertical-align: text-top;
  width: 100%;
}

.blurred:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0px 0px 5px red;
  -webkit-box-shadow: 0px 0px 5px red;
  box-shadow: 0px 0px 5px red;
}

input::-moz-focus-inner, button::-moz-focus-inner {
  border:0;
  padding:0;
}

div.field-container-search {
  margin-left: 5px;
  width: 100%;
  max-width: 480px;
	float: left;
}

div.field-container-search-right {
  margin-right: 2.5%;
  margin-left: 2.5%;
  width: 95%;
  max-width: 480px;
	float: right;
}

input.search-box {
  background-image: url("../images/icons/0030-Search-icon-16.png");
  background-repeat: no-repeat;
  background-position: right 10px center;
  float: left;
  /*width: 60%;*/
}

input.search-button {
  float: left;
}

.no-boxshadow .blurred:invalid {background-color:#f0dddd;}

/* Responsive images */
img {
  max-width: 95%;
  height: auto;
}

input[disabled="disabled"], div.chosen-disabled, div.chosen-disabled a, div.chosen-disabled span, div.chosen-disabled abbr {cursor: not-allowed;}

#menublock {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#main-menu {
	position:relative;
	z-index:9999;
	width:auto;
  clear: both;
}

#main-menu ul {width:12em; /* fixed width only please - you can use the "subMenusMinWidth"/"subMenusMaxWidth" script options to override this if you like */}

#content {
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  width: 90%;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  position: relative;
  /*overflow: auto;*/
}

p {margin-bottom: 15px;}

#footer {
  text-align: center;
  font-style: italic;
  padding-top: 20px;
}

/* jQuery iHaveCookies */
button#ihavecookiesBtn {margin-left: 0px !important;}

#gdpr-cookie-message {
  position: fixed;
  right: 30px;
  bottom: 30px;
  max-width: 375px;
  background-color: #3B3646;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 6px 6px rgba(0,0,0,0.25);
  margin-left: 30px;
  font-family: system-ui;
}

#gdpr-cookie-message h4 {
  color: #EE4B5A;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#gdpr-cookie-message h5 {
  color: #EE4B5A;
  font-size: 15px;
  font-weight: 500;
  margin-bottom: 10px;
}

#gdpr-cookie-message p, #gdpr-cookie-message ul {
  color: white;
  font-size: 15px;
  line-height: 1.5em;
}

#gdpr-cookie-message p:last-child {
  margin-bottom: 0;
  text-align: right;
}

#gdpr-cookie-message li {
  width: 49%;
  display: inline-block;
}

#gdpr-cookie-message a {
  color: #EE4B5A;
  text-decoration: none;
  font-size: 15px;
  padding-bottom: 2px;
  border-bottom: 1px dotted rgba(255,255,255,0.75);
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message a:hover {
  color: white;
  border-bottom-color: #EE4B5A;
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message button, button#ihavecookiesBtn {
  border: none;
  background: #EE4B5A;
  color: white;
  font-size: 15px;
  padding: 7px;
  border-radius: 3px;
  margin-left: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

#gdpr-cookie-message button:hover {
  background: white;
  color: #EE4B5A;
  transition: all 0.3s ease-in;
}

button#gdpr-cookie-advanced {
  background: white;
  color: #EE4B5A;
}

#gdpr-cookie-message button:disabled {opacity: 0.3;}

#gdpr-cookie-message input[type="checkbox"] {
  float: none;
  margin-top: 0;
  margin-right: 5px;
}

select.time, select.player-number {width: 70px;}

input, textarea {
  border:1px solid #bdc7d8;
  font-family: Calibri, Tahoma, Verdana, Arial, Serif;
  margin-bottom:5px;
  line-height:18px;
  padding: 2px 5px 2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  margin-right: 15px;
}

input.active, textarea.active {
  margin-bottom:5px;
  line-height:18px;
  padding:2px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline:none;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border: 1px solid #5897fb;
}

.chosen-container-multi .chosen-choices {border-radius: 5px;}
.chosen-container {padding-bottom: 5px;}
input.menu-input {width: 150px;}
.menu-margin {margin-left: 5px;}

#club-secretary, #club-venue, #grid-positions, #grid-matches, #stats-left, #stats-right, #meeting-attendees, #meeting-apologies {
  min-width: 280px;
  float: left;
  padding-bottom: 20px;
}

#user {
  display: inline-block;
  min-width: 280px;
  width: 40%;
  padding-bottom: 20px;
}

#avatar-container-block {
  display: inline-block;
  /*width: 15%;*/
  width: 150px;
}

#avatar-container {
  display: table;
  width: 100%;
}

#avatar {
  display: table-cell;
  vertical-align: middle;
  height: 150px;
  width: 150px;
  border: 1px solid #ccc;
}

#avatar img {
  display: block;
  margin: 0 auto;
}

img.social-link-icon {
  margin: 8px;
}

#user-info {vertical-align: top;}

div.user-info-heading, div.user-info-data {
  padding: 1px;
  margin-bottom: 5px;
  margin-right: 10px;
}

div.user-info-heading {font-weight: bold;}

#grid-positions, #grid-matches, #stats-left, #stats-right, #meeting-attendees, #meeting-apologies {width: 45%;}
#club-secretary, #club-venue {width: 25%;}
#club-venue, #user, #grid-positions, #stats-left {margin-right: 20px;}

#venue-address {
  width: 18%;
  min-width: 200px;
  float: left;
  margin-right: 20px;
  padding-bottom: 20px;
}

.season-team, fieldset {
	border: 1px solid #a6c9e2;
	border-radius: 5px;
  padding: 5px;
  margin-bottom: 5px;
}

fieldset {min-width: 100%;}

/* Create two equal columns that floats next to each other */
.column {
  width: 49%;
  padding: 0px;
}

.left {
  float: left;
  padding-right: 4px;
}
.right {
  float: right;
  padding-left: 4px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 900px) {
  .column {
    width: 100%;
  }
}

span.player_total {
  vertical-align: top;
  position: relative;
  left: 10px;
  top: 0px;
}

span.player_total_heading {
  font-weight: bold;
  position: absolute;
  left: 512px;
  top: 30px;
}

span.news-published, #edit-details {
  font-style: italic;
  font-size: 0.9em;
  margin-bottom: 10px;
}

div.doubles_home_player_selection, div.doubles_away_player_selection {
  /*display: inline-block;*/
  float: left;
  padding-bottom: 20px;
  padding-left: 40px;
}

#map-container {
  width: 100%;
  height: 100%;
}

#map-canvas, #map-canvas-form {
  padding-bottom: 20px;
  height: 100%;
  float: left;
}

#map-canvas-form {
  height: 100%;
  min-height: 300px;
  vertical-align: top;
}

#club-teams, #venue-contact, #users-online {
  margin-top: 20px;
  clear: both;
}

#venue-contact {
  position: relative;
  top: -230px;
}

/* Sortable grid teams */
.grid-team {
  min-height: 29px;
  min-width: 280px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.field_title {font-weight: bold;}

.links {
  font-size: -1em;
  text-align: center;
}

.links .header {font-weight: bold;}
#add_games_div, #add_divisions_div {display: none;}
.team_inactive {display: none;}
.nav_list {text-align: center;}
td.numeric, th.numeric, dd.numeric {text-align: right !important;}
td.game-number, th.game-number {text-align: center;}
.match_score {float: right;}
span.game-result {font-weight: bold;}
span.leg-separator {display: none;}
td.leg-scores {clear: both;}
span.leg-score {
  display: inline-block;
  width: 50px;
}

span.leg-score-link {
  display: inline-block;
  width: 50px;
  text-decoration: underline;
}

/*
 Sortable
*/
.sortable {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60%;
}

.sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 0.9em;
  height: 18px;
}

.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}

/*
  Sortable team position numbers
*/
span.team-position-number {padding-left: 15px;}
span.team-position-name {padding-left: 30px;}

/* Fixtures list displays */
td.match-score, td.match-versus {text-align: center;}
td.match-score {padding: 0;}

/* System roles */
.system {font-weight: bold;}

/* Start by setting display:none to make this hidden.
   Then we position it in relation to the viewport window
   with position:fixed. Width, height, top and left speak
   speak for themselves. Background we set to 80% white with
   our animation centered, and no-repeating */
.modal {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 170, 170, 170, .8 ) 
              url('../images/ajax-loader-trans-white.gif') 
              50% 50% 
              no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {overflow: hidden;}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {display: block;}

div.g-recaptcha {
  -webkit-transform: scale(0.93);
  -moz-transform: scale(0.93);
  -ms-transform: scale(0.93);
  transform: scale(0.93);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
}

.clear-fix {clear: both;}
html[xmlns] .clearfix, html[xmlns] .clear-fix {display: block;}
* html .clearfix, * html .clear-fix {height: 1%;}

/*
  Responsive
*/
@media only screen and (max-width: 768px)  {
  #index-news, #season-statistics {
    float: none;
    padding-bottom: 20px;
  }
  
  #index-matches-today, #season-fixtures-results {
    float: none;
    padding-bottom: 20px;
  }
  
  /* Hide label placeholders so we don't get an odd gap between one field and another in say a collection of address fields */
  div.label-field-container > div.label-placeholder {display: none;}
  
  div.label-field-container > label, div.label-field-container > div.label-placeholder, div.label-field-container > div.label-placeholder-always-show {
    width: 100%;
    max-width: 280px;
  }
  
  div.label-field-container-checkradio > label {
    width: 80%;
    max-width: 280px;
  }
  
  div.form-column div.label-field-container-checkradio > label, div.form-column-single div.label-field-container-checkradio > label {
    width: 65%;
    max-width: 280px;
  }
  
  div.label-field-container-weekday > label {
    width: 100%;
    max-width: 140px;
  }
  
  div.form-column, div.form-column-single {
    max-width: 300px;
    width: 90%;
  }
  
  #map-canvas, #directions-canvas, #map-canvas-form {
    width: 70%;
    min-width: 250px;
  }
  
  #directions-canvas {min-height: 600px;}
  #map-canvas, #map-canvas-form {min-height: 400px;}
  
  /* User info, users page */
  #user-info {width: 100%;}
}

/* Very wide table */
@media only screen and (max-width: 1450px)  {
	/* generic responsive table */
	table.responsive-wide, table.responsive-wide thead, table.responsive-wide tbody, table.responsive-wide th, table.responsive-wide td, table.responsive-wide tr {display: block;}
  
	table.responsive-wide thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
  
	table.responsive-wide td, table.responsive-wide th {padding: .25em;}
	table.responsive-wide tr {border: 1px solid #ccc;}
  
	table.responsive-wide td {
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%;
	}
  
	table.responsive-wide td:before { 
		position: absolute;
		top: .375em;
		left: .375em;
		width: 45%; 
		padding-right: .625em; 
		white-space: nowrap;
		font-weight: 700;
		content: attr(data-label);
    text-align: left;
	}
}

/* Wide screen */
@media (min-width: 767px) {
  div.field-container {
    margin-left: 5px;
    width: 100%;
    max-width: 280px;
  	float: left;
  }
  
  div.field-container-wide {
    margin-left: 5px;
    width: 100%;
    max-width: 1000px;
  	float: left;
  }
  
  div.label-field-container, div.label-field-container-checkradio, div.label-field-container-weekday {width:100%;}
  
  div.label-field-container > label, div.label-field-container-checkradio > label, div.label-field-container-weekday > label, div.label-field-container > div.label-placeholder, div.label-field-container > div.label-placeholder-always-show {
    width: 25%;
    max-width: 300px;
    float: left;
  }
  
  div.label-field-container-directions > label {
    width: 100%;
    max-width: 150px;
    float: left;
  }
  
  div.form-column, div.form-column-single {width: 45%;}
  
  #map-canvas, #directions-canvas, #map-canvas-form {
    min-height: 500px;
    min-width: 270px;
  }
  
  #directions-container {width: 30%;}
  #map-canvas {width: 80%;}
  #directions-canvas {width: 69%;}
  
  #map-canvas-form {
    width: 40%;
    max-width: 600px;
    float: left;
  }
  
  /* Responsive tables */
	table.responsive-vertical th {
		width: 45%;
	}
  
  /* User information, users page */
  #user-info {
    display: inline-block;
    width: 85%;
  }
}

/* Fieldsets in accordions don't cope well on small screens */
@media only screen and (max-width: 370px)  {
  fieldset {width: 10%;}
}

@media screen and (max-width: 640px) {
  /* Hide the breadcrumbs on small screens */
  #breadcrumbs {display: none;}
}
